/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.body{
    background-color: #1F1F1F;
    color: white;
}
header h3{
    font-size: 34px;
    font-weight: 900;
}
header p:hover{
    font-weight: bold;
}
header p{
    width: 65px;
}
header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid greenyellow; */
    align-items: center;
}
header div{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.banner-left h3{
    font-size: 48px;
    font-weight: bold;
}
.banner-left p{
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 27px;
}
.banner-left button{
    width: 193px;
    height: 49px;
    background-color: #313131;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 30px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 150px;
}
.banner-right{
    display: flex;
    position: relative;
    /* border: 1px solid goldenrod; */
    padding-right: 200px;
}
.img1{
    width: 523px;
    height: 533px;
}
.img2{
    width: 526px;
    height: 446px;
    position: absolute;
    right: -35px;
}
.box{
    width: 867px;
    height: 135px;
    background-color: #313131;
    position: absolute;
    border-radius: 8px;
    bottom: -20px;
    left: -109px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.box h3{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: -25px;
}
.box p{
    font-size: 18px;
    font-weight: 500;
}

.img3{
    position: absolute;
    top: 345px;
    left: -30px;
    z-index: 1;
}
.box  section{
    padding-bottom: 25px;
}
.logo{
    position: relative;
}

.box2{
    position: absolute;
    bottom: -100px;
    left: -35px;
}
.dn{
    display: none;
}


.line-with-content {
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  margin-top: 400px;
}

.line-with-content::before,
.line-with-content::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #3C3C3C;
}
.content span{
    font-size: 36px;
    font-weight: 600;
    color: white;
}
.content {
  display: flex;
  align-items: center;
  gap: 10px; /* space between text and image */
  margin: 0 25px;
}

/* .content img {
  width: 30px; 
  height: auto;
} */

.one h3{
    font-size: 28px;
    font-weight: 600;
}
.one{
    width: 411px;
    height: 223px;
    background-color: #313131;
    padding: 45px 25px 25px 25px;
    border-radius: 10px;
}